# FRONTEND APP VARIABLES
REACT_APP_BASE_URL = "http://localhost:8080"

# BACKEND APP VARIABLES (.NET ports)
REACT_COREMS_BASE_URL = "http://localhost"
REACT_USER_MS_BASE_URL = "http://localhost:5100"
REACT_COMMUNICATION_MS_BASE_URL = "http://localhost:5101"
REACT_TRANSLATION_MS_BASE_URL = "http://localhost:5103"
REACT_DOCUMENT_MS_BASE_URL = "http://localhost:5102"
REACT_TEMPLATE_MS_BASE_URL = "http://localhost:5104"
